In [9]:
import pandas as pd
import numpy as np
import datetime

In [10]:
path = 'resources/pacemed/'

df1 = pd.read_csv(path+'age.csv', index_col=None, sep=';')
df2 = pd.read_csv(path+'admission.csv', index_col=None, sep=';')
df3 = pd.read_csv(path+'signal.csv', index_col=None, sep=';')

df1.drop(['Unnamed: 0'], axis=1, inplace=True)
df2.drop(['Unnamed: 0'], axis=1, inplace=True)
df3.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [ ]:
df2['date_admission'] = df2['date_admission'].astype('datetime64')
df2['date_discharge']= df2['date_discharge'].astype('datetime64')
df_admission = df2.groupby('pat_id')['date_admission'].agg('count').to_frame('Count').reset_index()

df_admission = pd.merge(df2, df_admission, on='pat_id', how='left')
df_admission = pd.merge(df_admission, df1, on='pat_id', how='left')
df_admission['days_ICU'] = (df_admission['date_discharge']-df_admission['date_admission']).astype('timedelta64[D]')

primary_key = df_admission['pat_id'].astype('str') +'-' + df_admission['date_admission'].astype('str')
df_admission.insert(loc=0, column='primary_key', value=primary_key)
df_admission['bad_discharge'] = [0]*df_admission.shape[0]

In [12]:
for pat in np.unique(df_admission['pat_id']):
    source_rows = df_admission.index[df_admission['pat_id']==pat].tolist()
    if(len(source_rows)>1):
        for i in range(0, len(source_rows)):
            if (i != len(source_rows)-1):
                if((df_admission['date_admission'].iloc[source_rows[i+1]] - df_admission['date_discharge'].iloc[source_rows[i]]).days < 60):
                    df_admission['bad_discharge'].iloc[source_rows[i]] = 1
df3['day'] = df3['day'].astype('datetime64')
df3.insert(loc=0, column='primary_key', value=['']*df3.shape[0])

In [13]:
for pat in np.unique(df_admission['pat_id']):
    source_rows = df_admission.index[df_admission['pat_id']==pat].tolist()
    for i in range(len(source_rows)):
        tgt_rows = df3.index[(df3['pat_id']==pat) & \
                   (df_admission['date_admission'].iloc[source_rows[i]] <= df3['day']) & \
                             (df3['day']<= df_admission['date_discharge'].iloc[source_rows[i]])].tolist()
        df3['primary_key'].iloc[tgt_rows] = [df_admission['primary_key'].iloc[source_rows[i]]]*len(tgt_rows)

In [14]:
a = list(set(np.unique(df_admission['primary_key']).tolist()) & set(np.unique(df3['primary_key']).tolist()))
len(a)
print(len(np.unique(df3['primary_key']).tolist()))
print(len(np.unique(df_admission['primary_key']).tolist()))

print(len(np.unique(df3['pat_id']).tolist()))
print(len(np.unique(df_admission['pat_id']).tolist()))

1567
1569
1492
1495

In [15]:
df_admission.to_csv(path+'test_admission.csv', sep=',',index=None)
df3.to_csv(path+'test_signal.csv', sep=',', index=None)

In [28]:
df_signal = df3.groupby(['primary_key', 'parameter']).mean()['value']
df_signal = df_signal.unstack().reset_index()
df_signal.columns.name = None
df_semifinal = df_signal.merge(df_admission[['primary_key', 'age', 'days_ICU', 'bad_discharge']], on='primary_key', how='left')
df_semifinal.to_csv(path+"collated.csv", sep=',', index=None)
df_semifinal.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>primary_key</th>
      <th>blood_pressure</th>
      <th>respiration_rate</th>
      <th>temperature</th>
      <th>age</th>
      <th>days_ICU</th>
      <th>bad_discharge</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td>NaN</td>
      <td>NaN</td>
      <td>36.923079</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0-2016-01-05</td>
      <td>133.367285</td>
      <td>3.331333</td>
      <td>35.746152</td>
      <td>35.0</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1-2014-07-04</td>
      <td>127.878761</td>
      <td>5.333333</td>
      <td>37.133845</td>
      <td>77.0</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10-2015-07-02</td>
      <td>109.261078</td>
      <td>5.775556</td>
      <td>37.405126</td>
      <td>50.0</td>
      <td>3.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>100-2014-06-28</td>
      <td>128.925084</td>
      <td>6.390000</td>
      <td>36.293589</td>
      <td>41.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
df_final = df_semifinal.dropna(subset=['blood_pressure','respiration_rate', 'age', 'days_ICU', 'bad_discharge'])
df_final = df_final.fillna(value=df_final['temperature'].mean())
df_final.shape

(1399, 7)

In [30]:
df_final.to_csv(path+'cleaned.csv',sep=',', index=None)